body{
	margin:0;
	padding:0;
	background-image: url("../../images/bg.png");
	color:#333;
	font-family:Cambria, Georgia, serif;
	font-size:15px;
	overflow-x:hidden;
}
header, section, footer, hgroup{
	display:block;
}
a {
	color:#282b2a;
	text-decoration:none;
	text-align: center;
}
a:hover, a:active{
	color:#16618b;
}



/* clearfix */
.clearfix {
	clear:both;
}

/* wrapper css */
#wrapper{
	margin-top:70px;
	width:100%;
}
#wrapper hgroup{
	text-align:center;
}
#wrapper h2{
	margin:5px 0;
	color:#ffdf83;
	text-shadow:1px 1px 2px #333;
	font-size:33px;
	font-family:Arial Narrow, Arial, sans-serif;
}
#wrapper h3{
	font-style:italic;
	font-weight:normal;
	font-size:18px;
	text-shadow:1px 1px 0 #fff;
	color:#888;
	margin:5px 0;
}

#container{
	position:relative;
	width:1100px;
	margin:0 auto 25px;
	padding-bottom: 10px;
	
}
.grid{
	width:188px;
	min-height:100px;
	background:#ffdf83;
	margin:8px;
	font-size:12px;
	float:left;
	box-shadow: 0 1px 3px #333;
	-moz-box-shadow: 0 1px 3px #333;
	-webkit-box-shadow: 0 1px 3px#333;
	
	-webkit-transition: top 1s ease, left 1s ease;
	-moz-transition: top 1s ease, left 1s ease;
	-o-transition: top 1s ease, left 1s ease;
	-ms-transition: top 1s ease, left 1s ease;
}

.grid strong {
	margin:10px 0;
	display:block;
	padding:0 0 5px;
	font-size:17px;
}
.grid .meta{
	text-align:right;
	color:#777;
	font-style:italic;
}
.grid .imgholder img{
	width:100%;
	
	display:block;
}

@media screen and (max-width : 1240px) {
	body{
		overflow:auto;
	}
}
@media screen and (max-width : 900px) {
	#backlinks{
		float:none;
		clear:both;
	}
	#backlinks a{
		display:inline-block;
		padding-right:20px;
	}
	#wrapper{
		margin-top:90px;
	}
}